body,*{
    margin: 0px;
    padding: 0px;
}
.grey{
    color: grey;
}
h1{
    text-align: center;
}
.fancy{
    font-family: cursive ;
  }
.fonts{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.black{
    color: rgb(99, 83, 83);
    padding: 4px;
    }

.container{
    background-color: rgba(169, 217, 228, 0.31);
    border: 3px solid;
    padding: 34px 19px;
    margin: 14px 19px;
    border-radius: 33px;
}

.navbar{
    color: black;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    text-align: center;  
    border-radius: 22px;
    transition: 0.5s;
}


.navbar li{
    float: left;
}


.navbar ul{
    list-style-type: none;
    background-color: rgba(63,62,62,1);
    padding: 0px;
    overflow: hidden;
    margin: 0px;
}
.navbar a:hover{
    background-color: rgba(31,30,30,1);
    color: rgb(125,140,255);
    transition: ease-in-out 0.5s;
}
